In [5]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="Verasidika19.",   # try empty if Workbench doesn't ask for one
    database="md_water_services"
)


df = pd.read_sql("SELECT * FROM employee LIMIT 10;", conn)
df.head()

conn.close()

C:\Users\Trevor\AppData\Local\Temp\ipykernel_22832\3669298304.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM employee LIMIT 10;", conn)

In [6]:
from sqlalchemy import create_engine
import pandas as pd

# build connection URL: mysql+pymysql://user:password@host/db
engine = create_engine("mysql+pymysql://root:yourpassword@localhost/md_water_services")

# now show tables
pd.read_sql("SHOW TABLES;", engine)

C:\Users\Trevor\AppData\Local\Temp\ipykernel_22832\1733680667.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SHOW TABLES;", conn)

DatabaseError: Execution failed on sql: SHOW TABLES;
(0, '')
unable to rollback