In [ ]:
import sqlite3
import pandas as pd

# Path to your database
db_path = r"C:\Users\Trevor\Documents\dumps\chinook.db"

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Show all tables
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)
print("Tables in the database:")
print(tables)

# # Example: load a table (replace Albums with any table name you see)
# df = pd.read_sql_query("SELECT * FROM Albums LIMIT 5;", conn)
# df